* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    padding: 20px 0;

}

.nav-link {
    margin: 5px;
    text-decoration: none;
    color: blue;
}

.cross-out {
    text-decoration: line-through;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.mainCard {
    display: flex;
    justify-content: center;
    background-color: #272343;
    width: 75%;
    margin-top: 70px;
    border-radius: 20px;
    -webkit-box-shadow: 13px 12px 18px 2px rgba(0,0,0,0.4); 
    box-shadow: 13px 12px 18px 2px rgba(0,0,0,0.4);
    min-width: 300px;
    max-width: 800px;
    height: 600px;
    overflow: auto;
}

.cardContent {
    width: 90%;
    padding: 30px 0 ;
}

.newListForm {
    display: flex;
    justify-content: space-between;

    padding: 20px;
    border-radius: 10px;
    background-color: #ded8d8;
}

.newListForm >input {
    width: 50%;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
}
.newListForm >button {
    width: 15%;
    padding: 5px 0;
    border: none;
    border-radius: 5px;
}
.listItem {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #bae8e8;
}
.listItemTop, .listItemBottom {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

a {
    text-decoration: none;
}
.listItemTop >a, .listItemTop >span {
    color: black;
    width: 70%;

}
.listItemTop >a:hover, .listItemTop >span:hover {
    color: #626074;
    font-size: 20px;

}
.listItemTop >div {
    width: 20%;
    display: flex;
    justify-content: flex-end;

}


.btn {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
}
.listItemBottom >input {
    width: 50%;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; 
    border-radius: 10px; */
    background-color: transparent;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

.Form {
    background-color: #e3f6f5;;
   

    
    -webkit-box-shadow: 13px 12px 18px 2px rgba(0,0,0,0.4); 
    box-shadow: 13px 12px 18px 2px rgba(0,0,0,0.4);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.loginForm {
    padding: 20px;
    height: 40%;
    width: 50%;
}
.signUpForm {
    height: 90%;
    padding: 40px;
    width: 70%;
}
.Form >h3 {
    text-align: center;
}
.loginContainer {
    align-items: center;

}

.internalForm {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 20px; */
}
.internalForm >label {
    margin-bottom: 10px;
}
.internalForm >input {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}
.loginBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.names {
    display: flex;
    justify-content: space-between;
    
}
.names >div {
    width: 48%;
}
.titleH3 {
    margin-bottom: 10px;
    text-align: center;
    color: white;
}



@media only screen and (max-width: 600px) {
    .mainCard, header {
        width: 95%;
    }
    
}

@media only screen and (max-width: 992px) {
    .mainCard, header{
        width: 95%;
    }
}

